
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.props
*.targets
*.tlog
*.idb
*.recipe

*.ipch
*.vsidx
*.obj
*.pdb
*.pch
*.aps
*.ilk
*.meta
*.ncb
*.sdf
*.suo
*.exp

*.log
*.dmp

.vs/
KPEngine/bin/
KPEngine/bin-obj/
ExampleApp/bin/
ExampleApp/bin-obj/